Goal of analysis script is to pull in excel files with manually entered intake and weight data, determine daily intake per body weight (for both water and ethanol) for subsequent analysis

Import required modules

In [1]:
import pandas as pd
import re
import os

Open dialog box and prompt user to select directory of animal intake files

In [91]:
from tkinter import filedialog
from tkinter import *
root = Tk()
root.directory = filedialog.askdirectory()
print (root.directory)

C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 2/Intake

Create a path name for each animal intake file

In [92]:
path_names = []
files = os.listdir(root.directory)
for file in files: 
        path_names.append(root.directory + "/" + file)

path_names[0]

'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 2/Intake/386.xlsx'

In [93]:
filename2 = "C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 2/groups.xlsx"
data = pd.read_excel(filename2)
df_mice = pd.DataFrame(data = data, dtype = int)
#df_mice = df_mice.set_index('Animal_#')
df_mice.head()

   Animal_#  Group
0       386      2
1       387      2
2       388      2
3       393      5
4       394      5

Loop through path names to create pandas data table from excel file. Get animal number from path name (animal number is file name), create array of animal number the length of the data_table and add this as a column.

In [106]:
data_table = pd.DataFrame()

i = 0

for path in path_names:
    data = pd.read_excel(path)
    data_table_int = pd.DataFrame(data = data)
    
    name = path
    name = re.search("\d\d\d", path).group(0)
    name = [name] * len(data_table_int)
    
    group = df_mice['Group'][i]
    group = [group] * len(data_table_int)
    i = i + 1
    
    data_table_int = data_table_int.assign(Animal = name)
    data_table_int = data_table_int.assign(Group = group)  
    
    data_table = data_table.append(data_table_int, ignore_index=True)


data_table

,Day,Notes,Weight,EtOh position,EtOH wt,H2O rt wt,H2O lt wt,EtOH wt.1,H2O rt wt.1,H2O lt wt.1,Animal,Group
0,Friday -1,NaN,32.40,X,NaN,89.27,86.56,X,X,X,386,2
1,Sunday 3%,NaN,32.40,R,56,86.30,83.50,X,X,X,386,2
2,Monday 0,NaN,32.40,X,54.2,86.10,81.70,X,X,X,386,2
3,Tuesday 6%,NaN,32.40,L,58,85.00,78.00,X,X,X,386,2
4,Wednesday 0,NaN,32.40,X,55,84.70,78.60,X,X,X,386,2
5,Thursday 9%,NaN,32.40,R,58.37,84.00,75.60,X,X,X,386,2
6,Friday 0,NaN,32.40,X,55.23,84.00,73.70,X,X,X,386,2
7,Sunday 20% 1,NaN,32.20,L,63.46,82.22,69.02,X,X,X,386,2
8,Monday 1,NaN,32.20,X,60.97,80.54,68.81,X,X,X,386,2
9,Tuesday 20% 1,NaN,32.20,R,60.89,78.80,66.50,59.8,NaN,66,386,2
10,Wednesday 2,NaN,32.20,X,58.3,78.70,64.50,X,X,X,386,2
11,Thursday 20% 1,NaN,32.20,L,58.2,78.00,62.00,X,X,X,386,2
12,Friday 1,NaN,32.20,X,56.5,76.00,88.00,X,X,X,386,2
13,Sunday 20% 2,NaN,32.20,R,61.3,73.10,83.90,X,X,X,386,2
14,Monday 2,NaN,32.20,X,59.4,89.60,82.40,X,X,X,386,2
15,Tuesday 20% 2,NaN,32.20,L,59.3,89.60,79.20,58.7,89,NaN,386,2
16,Wednesday 2,NaN,32.20,X,57.65,87.35,79.00,X,X,X,386,2
17,Thursday 20% 2,NaN,32.20,R,56.8,85.40,76.70,X,X,X,386,2
18,Friday 2,NaN,32.20,X,54.7,85.30,73.80,X,X,X,386,2
19,Sunday 20% 3,NaN,32.20,L,64.4,82.10,69.80,X,X,X,386,2
20,Monday 3,NaN,32.20,X,63.3,78.90,69.65,X,X,X,386,2
21,Tuesday 20% 3,NaN,32.20,R,63.2,77.50,66.60,62.3,NaN,66.2,386,2
22,Wednesday 3,NaN,32.20,X,61.2,89.00,64.00,X,X,X,386,2
23,Thursday 20% 3,NaN,32.20,L,60.88,88.90,60.70,X,X,X,386,2
24,Friday 3,NaN,32.20,X,59.38,85.80,60.61,X,X,X,386,2
25,Friday -1,NaN,33.24,X,NaN,87.85,90.89,X,X,X,387,2
26,Sunday 3%,NaN,33.24,R,63.2,87.20,86.40,X,X,X,387,2
27,Monday 0,NaN,33.24,X,61.4,87.00,84.50,X,X,X,387,2
28,Tuesday 6%,NaN,33.24,L,58.7,85.00,83.00,X,X,X,387,2
29,Wednesday 0,NaN,33.24,X,55.9,84.40,82.70,X,X,X,387,2
...,...,...,...,...,...,...,...,...,...,...,...,...
720,Monday 3,NaN,29.50,X,60.5,76.50,56.70,X,X,X,456,3
721,Tuesday 20% 3,NaN,29.50,R,60.4,75.70,53.00,59.7,NaN,52.8,456,3
722,Wednesday 3,NaN,29.50,X,58.3,89.00,50.30,X,X,X,456,3
723,Thursday 20% 3,NaN,29.50,L,58.1,88.10,46.60,X,X,X,456,3
724,Friday 3,NaN,29.50,X,55.5,86.70,73.80,X,X,X,456,3
725,Friday -1,NaN,27.10,X,NaN,87.90,90.60,X,X,X,457,3
726,Sunday 3%,NaN,27.10,R,62.8,82.40,87.80,X,X,X,457,3
727,Monday 0,NaN,27.10,X,59.7,82.20,86.90,X,X,X,457,3
728,Tuesday 6%,NaN,27.10,L,60.2,80.00,85.00,X,X,X,457,3
729,Wednesday 0,NaN,27.10,X,57,78.20,85.50,X,X,X,457,3
730,Thursday 9%,NaN,27.10,R,60.4,76.30,83.60,X,X,X,457,3
731,Friday 0,NaN,27.10,X,56.5,NaN,82.70,X,X,X,457,3
732,Sunday 20% 1,NaN,27.00,L,65,72.00,79.70,X,X,X,457,3
733,Monday 1,NaN,27.00,X,62.3,70.70,79.60,X,X,X,457,3
734,Tuesday 20% 1,NaN,27.00,R,62.4,69.50,76.80,61.5,NaN,76.6,457,3
735,Wednesday 2,NaN,27.00,X,59.8,69.80,75.50,X,X,X,457,3
736,Thursday 20% 1,NaN,27.00,L,59.6,68.30,73.40,X,X,X,457,3
737,Friday 1,NaN,27.00,X,57.5,66.40,86.40,X,X,X,457,3
738,Sunday 20% 2,NaN,27.30,R,60.5,64.20,80.60,X,X,X,457,3
739,Monday 2,NaN,27.30,X,58,81.00,79.40,X,X,X,457,3
740,Tuesday 20% 2,NaN,27.30,L,58,79.30,77.10,57,78.7,NaN,457,3
741,Wednesday 2,NaN,27.30,X,55.7,76.70,76.90,X,X,X,457,3
742,Thursday 20% 2,NaN,27.30,R,55.6,75.10,74.30,X,X,X,457,3
743,Friday 2,NaN,27.30,X,53.3,75.00,72.00,X,X,X,457,3
744,Sunday 20% 3,NaN,27.70,L,53.2,71.40,67.60,X,X,X,457,3
745,Monday 3,NaN,27.70,X,51.4,69.00,67.60,X,X,X,457,3
746,Tuesday 20% 3,NaN,27.70,R,51.2,67.00,65.70,50.3,NaN,65.4,457,3
747,Wednesday 3,NaN,27.70,X,49,89.80,63.30,X,X,X,457,3
748,Thursday 20% 3,NaN,27.70,L,48.9,87.60,61.60,X,X,X,457,3
749,Friday 3,NaN,27.70,X,47,85.30,61.50,X,X,X,457,3

In [107]:
def I2BC(data):
    "Analyzes intermittent two bottle choice data"
    
    #Intake on EtOH days
    EtOH = []
    #EtOH pref on EtOH days
    EtOH_pref = []
    #EtOH intake on days with 8pm measurement
    EtOH8 = []
    #EtOH pref on days with 8pm measurement
    EtOH_pref8 = []
    #Water intake
    water = []
    #Water preference (for bottle on the right) on days with no EtOH
    water_pref = []
    #Water intake on days with 8pm measurement
    water8 = []
    
    i = 0
    
    for index, row in data.iterrows():
        #last row will not have intake data
        if row[0] == 'Friday 3':
            EtOH.append(None)
            EtOH_pref.append(None)
            EtOH8.append(None)
            EtOH_pref8.append(None)
            water.append(None)
            water_pref.append(None)
            water8.append(None)
        
            i = i + 1
        
        #compute intake in grams consumed / body weight in kg
        #EtOH is 20% so * 0.2 to get actual intake in grams
        #weight recorded is in gram so / by 1000 to get kg
        
        elif row[3] == 'L':
            e = ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) * 0.2) / ((float(data.loc[[i],['Weight']].values)) / 1000)
            EtOH.append(e)
            
            w = (float(data.loc[[i],['H2O rt wt']].values - data.loc[[i+1],['H2O rt wt']].values)) / ((float(data.loc[[i],['Weight']].values)) / 1000)
            water.append(w)    
        
            p = (float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) / ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) + (float(data.loc[[i],['H2O rt wt']].values - data.loc[[i+1],['H2O rt wt']].values)))
            EtOH_pref.append(p)  
        
            water_pref.append(None)
            
            #compute 8pm data if collected
            if row[7] != 'X':
                e = ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) * 0.2) / ((float(data.loc[[i],['Weight']].values)) / 1000)
                EtOH8.append(e)
            
                w = (float(data.loc[[i],['H2O rt wt']].values - data.loc[[i],['H2O rt wt.1']].values)) / ((float(data.loc[[i],['Weight']].values)) / 1000)
                water8.append(w)    
        
                p = (float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) / ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) + (float(data.loc[[i],['H2O rt wt']].values - data.loc[[i],['H2O rt wt.1']].values)))
                EtOH_pref8.append(p)
                
            #if no 8pm data
            else:
                EtOH8.append(None)
                EtOH_pref8.append(None)
                water8.append(None)
                
            i = i + 1
        
        elif row[3] == 'R':
            e = ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) * 0.2) / ((float(data.loc[[i],['Weight']].values)) / 1000)
            EtOH.append(e)
            
            w = (float(data.loc[[i],['H2O lt wt']].values - data.loc[[i+1],['H2O lt wt']].values)) / ((float(data.loc[[i],['Weight']].values)) / 1000)
            water.append(w)    
        
            p = (float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) / ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i+1],['EtOH wt']].values)) + (float(data.loc[[i],['H2O lt wt']].values - data.loc[[i+1],['H2O lt wt']].values)))
            EtOH_pref.append(p)  
        
            water_pref.append(None)
            
            if row[7] != 'X':
                e = ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) * 0.2) / ((float(data.loc[[i],['Weight']].values)) / 1000)
                EtOH8.append(e)
            
                w = (float(data.loc[[i],['H2O lt wt']].values - data.loc[[i],['H2O lt wt.1']].values)) / ((float(data.loc[[i],['Weight']].values)) / 1000)
                water8.append(w)    
        
                p = (float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) / ((float(data.loc[[i],['EtOH wt']].values - data.loc[[i],['EtOH wt.1']].values)) + (float(data.loc[[i],['H2O lt wt']].values - data.loc[[i],['H2O lt wt.1']].values)))
                EtOH_pref8.append(p)
                
            else:
                EtOH8.append(None)
                EtOH_pref8.append(None)
                water8.append(None)
                
            i = i + 1
        
        elif row[3] == 'X':
            r = float(data.loc[[i],['H2O rt wt']].values - data.loc[[i+1],['H2O rt wt']].values) / (float(data.loc[[i],['Weight']].values) / 1000)
            l = float(data.loc[[i],['H2O lt wt']].values - data.loc[[i+1],['H2O lt wt']].values) / (float(data.loc[[i],['Weight']].values) / 1000)
            w = r + l
            water.append(w)
        
            p = r/ (r+l)
            water_pref.append(p)
        
            EtOH.append(None)
            EtOH_pref.append(None)
            EtOH8.append(None)
            EtOH_pref8.append(None)
            water8.append(None)
            
            i = i + 1
            
    data['EtOH'] = EtOH
    data['H20'] = water
    data['EtOH_pref'] = EtOH_pref
    data['H20_pref'] = water_pref
    data['EtOH8'] = EtOH8
    data['EtOH8_pref'] = EtOH_pref8
    data['H208'] = water8
    
    return data

Use the intake function on the data table

In [108]:
intake_data = data_table.pipe(I2BC)
intake_data[0:5]

,Day,Notes,Weight,EtOh position,EtOH wt,H2O rt wt,H2O lt wt,EtOH wt.1,H2O rt wt.1,H2O lt wt.1,Animal,Group,EtOH,H20,EtOH_pref,H20_pref,EtOH8,EtOH8_pref,H208
0,Friday -1,NaN,32.4,X,NaN,89.27,86.56,X,X,X,386,2,NaN,186.111111,NaN,0.492537,NaN,NaN,NaN
1,Sunday 3%,NaN,32.4,R,56,86.30,83.50,X,X,X,386,2,11.111111,55.555556,0.500000,NaN,NaN,NaN,NaN
2,Monday 0,NaN,32.4,X,54.2,86.10,81.70,X,X,X,386,2,NaN,148.148148,NaN,0.229167,NaN,NaN,NaN
3,Tuesday 6%,NaN,32.4,L,58,85.00,78.00,X,X,X,386,2,18.518519,9.259259,0.909091,NaN,NaN,NaN,NaN
4,Wednesday 0,NaN,32.4,X,55,84.70,78.60,X,X,X,386,2,NaN,114.197531,NaN,0.189189,NaN,NaN,NaN

In [110]:
mean_df = intake_data.groupby(['Group']).mean()
mean_df

,Weight,H2O rt wt,H2O lt wt,EtOH,H20,EtOH_pref,H20_pref,EtOH8,EtOH8_pref,H208
Group,,,,,,,,,,
2,32.178000,79.140897,72.271781,16.726497,123.284276,0.566381,0.345807,6.119193,0.676100,14.791701
3,29.614706,78.488874,69.298661,17.390144,145.399112,0.523791,0.371990,7.008909,0.690123,16.743079
4,32.476667,75.973699,72.901342,16.400855,148.294891,0.560615,0.544534,5.743048,0.649604,16.434444
5,31.241289,78.215778,72.239462,16.698377,147.376808,0.495050,0.448984,6.930289,0.635935,20.132204

In [105]:
writer = pd.ExcelWriter('mean.xlsx', engine='xlsxwriter')
intake_data.to_excel(writer, sheet_name='Sheet1')
writer.save()